body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#app {
  z-index: 1;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.container {
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 60px);
  justify-content: center;
}

.box {
  z-index: 1;
  background-color: #fff;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #666;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.box:hover {
  z-index: 1;
  background-color: #e0e0e0;
}

#status {
  z-index: 1;
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

#restart {
  z-index: 1;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

#restart:hover {
  z-index: 1;
  background-color: #ba59ff;
}

span {
  z-index: 1;
  color: white;
  transition: color 0.6s ease;
}

span:hover {
  color: #ba59ff;
  cursor: pointer;
}

video{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

@media screen and (min-width: 215px) {
  .container {
    width: auto;
  }
  .box {
    width: auto;
  }
  body{
    background-position: center;
  }
}

@media screen and (min-height: 300px) {
  .container {
    width: auto;
  }
  .box {
    width: auto;
  }
  body{
    background-position: center;
  }
}