body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(https://t3.ftcdn.net/jpg/05/99/53/58/360_F_599535831_pwQFVG0qtf6ksLXeVTnUwFMvoW5H0WiS.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#app {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 60px);
  justify-content: center;
}

.box {
  background-color: #fff;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #666;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.box:hover {
  background-color: #e0e0e0;
}

#status {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

#restart {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#restart:hover {
  background-color: #fd5d5d;
}

#play-now {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  text-align: center;
  top: 2px;
}

#play-now:hover {
  background-color: #0056b3;
}