body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /*background: linear-gradient(90deg, rgb(164, 28, 164), rgb(43, 43, 168));*/
  /*background-image: url(https://img.freepik.com/free-photo/nature-beauty-silhouettes-against-majestic-skies-generative-ai_188544-9749.jpg?size=626&ext=jpg&ga=GA1.1.553209589.1713398400&semt=ais);
  background-repeat: no-repeat;
  background-size: cover;*/
}

#app {
  z-index: 1;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.container {
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 60px);
  justify-content: center;
}

.box {
  z-index: 1;
  background-color: #fff;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #666;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.box:hover {
  z-index: 1;
  background-color: #e0e0e0;
}

#status {
  z-index: 1;
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

#restart {
  z-index: 1;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

#restart:hover {
  z-index: 1;
  background-color: #ba59ff;
}

/*#play-now {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  text-align: center;
  top: 2px;
}

#play-now:hover {
  background-color: #0056b3;
}*/

span {
  z-index: 1;
  color: white;
}

video{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

@media screen and (min-width: 215px) {
  .container {
    width: auto;
  }
  .box {
    width: auto;
  }
  body{
    background-position: center;
  }
}

@media screen and (min-height: 300px) {
  .container {
    width: auto;
  }
  .box {
    width: auto;
  }
  body{
    background-position: center;
  }
}